[Unit]
Description=NVMR Video Sender
After=network-online

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/NVMRVideoSender
Restart=always
User=pi
