Source: nvmr-rpi-video-sender
Section: unknown
Priority: optional
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
Build-Depends: debhelper (>= 11),
               cmake,
               dbus-cxx-qt-dev,
               extra-cmake-modules,
               libavahi-client-dev,
               libgstreamer1.0-dev,
               libgstrtspserver-1.0-dev,
               liblog4cxx-dev,
               libqt5websockets5-dev,
               libnvmr-json-dev,
               qtbase5-dev
Standards-Version: 4.1.3
Homepage: <insert the upstream URL, if relevant>

Package: nvmr-rpi-video-sender
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad
Description: RPi IP video sending application
 Transmits video from a Rapsberry Pi to the network.
